<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sample Project</title>
</head>
<body>
	{% if resultPred != 'none' %}
		<p>Prediccion: {{resultPred}}</p>
	{% endif %}
	
	<form method="POST" >
		{% csrf_token %}
		<label for="m_date">Date (Agosto 2017):</label>
		{{form.ModelDate}}
		<br>
		<label for="m_store">store_nbr:</label>
		{{form.ModelStore}}
		<br>
		<label for="m_family">Family:</label>
		{{form.ModelFamily}}
		<br>
		<label for="m_onprom">Onpromotion:</label>
		{{form.ModelOnp}}
		<br>
		<label for="m_onprom">Es un dia festivo?:</label>
		{{form.Holidays}}
		<br>
		<input type="submit">

	</form>
	  
</body>
</html>